<div class="title-full">
  <div class="container">
    <h1>Professional Profile</h1>
  </div>
</div>
<div class="container">
  <div class="white-card">
    <h3>Edit Professional Profile</h3>
    <%= simple_form_for @professional do |f| %>
      <%= f.input :photo, as: :file, :label => "Image"%>
      <%= f.input :full_name %>
      <%= f.input :role %>
      <%= f.input :details %>
      <%= f.input :email %>
      <%= f.input :phone %>
      <%= f.input :address %>
      <%= f.input :price %>
      <%= f.submit "Update", class: "main-button"%>
    <% end %>
    <div class="cancel-pf-account">
      <h3>Cancel Professional Account</h3>
      <%= link_to "Cancel Account", professional_path(@professional), data: { confirm: "Are you sure?" }, method: :delete, class: "cancel-account" %>
    </div>
    <%= link_to :back do %>
      <i class="fas fa-chevron-circle-left"></i> <span>Back</span>
    <% end %>
  </div>
</div>