<div class="title-full">
  <div class="container">
    <h1>Professional Profile</h1>
  </div>
</div>
<div class="container">
  <div class="white-card">
    <%= @professional.errors.full_messages.first if @professional.errors.any? %>
    <h3>Add Your Professional Profile</h3>
    <%= simple_form_for @professional do |f| %>
      <%= f.input :photo, as: :file, :label => "Image"%>
      <%= f.input :full_name %>
      <%= f.input :role %>
      <%= f.input :details %>
      <%= f.input :email %>
      <%= f.input :phone %>
      <%= f.input :address %>
      <%= f.input :price %>
      <%= f.submit "Submit", class: "main-button"%>
    <% end %>
  </div>
</div>