<div class="container">
  <h3>Add Your Professional Profile</h3>
  <%= simple_form_for @professional do |f| %>
    <%= f.input :full_name %>
    <%= f.input :role %>
    <%= f.input :details %>
    <%= f.input :price %>
    <%= f.input :email %>
    <%= f.input :phone %>
    <%= f.input :address %>
    <%= f.submit "Submit" %>
  <% end %>
</div>