<div class="title-full">
  <div class="container">
    <h1>Professional Profile</h1>
  </div>
</div>
<div class="container">
  <div class="white-card professional-page">
    <div class="prof-img">
      <% if @professional.photo.attached? %>
        <%= cl_image_tag @professional.photo.key %>
      <% else %>
        <i class="fas fa-user-circle user-avatar"></i>
      <% end %>
    </div>
    <div class="professional-main-info">
      <% if @professional.user == current_user %>
        <%= link_to edit_professional_path(@professional) do %>
          <i class="fas fa-pencil-alt"></i>
          <span>Edit Profile</span>
        <% end %>
      <% end %>
      <div class="prof-name-role">
        <h3><%= @professional.full_name %></h3>
        <h6><%= @professional.role %></h6>
      </div>
      <div class="professional-details">
        <div class="prof-detail">
          <p><%= @professional.details %></p>
        </div>
        <div class="phone-email">
          <% if @professional.phone.present? %>
            <p><i class="fas fa-phone-square-alt"></i> <%= @professional.phone %> </p>
          <% end %>
          <% if @professional.email.present? %>
            <p><i class="fas fa-envelope"></i> <%= @professional.email %> </p>
          <% end %>
          <% if @professional.address.present? %>
            <p><i class="fas fa-map-marked-alt"></i> <%= @professional.address %></p>
          <% end %>
          <% if @professional.price.present? %>
            <p><i class="fas fa-dollar-sign"></i> ¥<%= @professional.price %></p>
          <% end %>
        </div>
      </div>
      <div class="send-msg-butns">
        <div>
          <a href="mailto:<%= @professional.email %>" target="_blank" class="main-button">Send email</a>
        </div>
        <div>
          <a href="tel:<%= @professional.phone %> " target="_blank"class="main-button">Call</a>
        </div>
      </div>
    </div>
  </div>
</div>