<div class="container">
  <div>
    <div class="events-heading">
      <h1>Upcoming Events</h1>
      <%= link_to "Create Event", new_event_path, class: 'main-button'  %>
    </div>
    <div class="event-cards">
      <% @events.each do |event| %>
        <%= link_to event_path(event) do  %>
          <div class="event-card">
            <img src="https://image.freepik.com/free-vector/children-playground-concept_74855-7006.jpg" alt="">
            <div class="card-content">
              <span id="event-date"><%= event.date_time.strftime("%b %y, %H:%M") %></span>
              <h5 class="event-title"><%= event.title %></h5>
              <span>Capacity: <%= event.capacity %> people</span>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>