<div class="container event-page">
  <div class="event-image">
    <% if @event.photo.attached? %>
      <%= cl_image_tag @event.photo.key %>
    <% else %>
      <img src="https://image.freepik.com/free-vector/children-playground-concept_74855-7006.jpg" alt="">
    <% end %>
  </div>
  <div class="event-main">
    <div class="main-content">
      <div class="event-heading">
        <h1><%= @event.title %></h1>
        <span id="event-date"><%= @event.date_time.strftime("%A, %B %y, %H:%M") %></span>
      </div>
      <div class="host-capacity">
        <div class="event-host">
          <%= image_tag "avatar", alt: "alttext", class: 'user-avatar' %>
          <div>
            <p>Hosted by </p>
            <h5> <%= @event.user.username %></h5>
          </div>
        </div>
        <div class="event-capacity">
          <!-- <span class="info-icon"><i class="fas fa-users"></i></span> -->
          <p>Capacity: </p>
          <h5> <%= @event.capacity %> people</h5>
        </div>
      </div>
      <div class="event-details">
        <div class="info">
          <!-- <span class="info-icon"><i class="fas fa-info"></i></span> -->
          <h5>Details:</h5>
        </div>
        <p class="content"><%= @event.details %></p>
      </div>
    </div>
    <div class="join-form-container">
      <div class="join-event-form">
        <h3>Join this event!</h3>
        <%= render 'event_atendees/form' %>
      </div>
      <div class="joining-people">
        <% if @event.event_atendees.count >= 1 %>
          <h5>Who is Joining?</h5>
          <% @event.event_atendees.each do |atendee| %>
            <div class="d-flex align-items-center">
              <%= image_tag "avatar", alt: "alttext", class: 'user-avatar' %>
              <h5><%= atendee.user.username %></h5>
              <div class="people-circle">
                <p><%= atendee.people %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>