<div class="container event-page">
  <div class="event-image">
    <div class="gradient">
      <div class="event-heading">
        <h2><%= @event.title %></h2>
        <span id="event-date"><%= @event.date_time.strftime("%b %d, %H:%M｜%A") %></span>
      </div>
    </div>
    <% if @event.photo.attached? %>
      <%= cl_image_tag @event.photo.key %>
    <% else %>
      <img src="https://image.freepik.com/free-vector/children-playground-concept_74855-7006.jpg" alt="">
    <% end %>
  </div>
  <div class="event-main">
    <div class="main-content">
      <!-- <div class="event-heading">
        <h1><%= @event.title %></h1>
        <span id="event-date"><%#= @event.date_time.strftime("%A, %B %d, %H:%M") %></span>
      </div> -->
      <div class="host-capacity">
        <div class="event-host">
          <% if @event.user.photo.attached? %>
            <%= cl_image_tag @event.user.photo.key, height: 40, width: 40, crop: :fill %>
          <% else %>
            <i class="fas fa-user-circle user-avatar"></i>
          <% end %>
          <div>
            <p>Hosted by </p>
            <h5> <%= @event.user.username %></h5>
          </div>
        </div>
        <div class="event-capacity">
          <!-- <span class="info-icon"><i class="fas fa-users"></i></span> -->
          <p>Capacity: </p>
          <h5> <%= @event.capacity %> people</h5>
        </div>
      </div>
      <div class="event-details">
        <div class="info">
          <!-- <span class="info-icon"><i class="fas fa-info"></i></span> -->
          <h6>Duration: </h6>
          <p><%= @event.duration %></p>
          <h6>Meeting Spot: </h6>
          <p><%= @event.location %></p>
          <h5>Details:</h5>
        </div>
        <p class="content"><%= @event.details %></p>
      </div>
    </div>
    <div class="join-form-container">
      <div class="join-event-form">
        <h3>Join this event!</h3>
        <%= render 'event_atendees/form' %>
      </div>
      <div class="joining-people">
        <% if @event.event_atendees.count >= 1 %>
          <h5>Who is Joining?</h5>
          <% @event.event_atendees.each do |atendee| %>
            <div class="d-flex align-items-center">
              <% if atendee.user.photo.attached? %>
                <%= cl_image_tag atendee.user.photo.key, height: 40, width: 40, crop: :fill %>
              <% else %>
                <i class="fas fa-user-circle user-avatar"></i>
              <% end %>
              <h5><%= atendee.user.username %></h5>
              <div class="people-circle">
                <p><%= atendee.people %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>