<div class="container post-container">
  <div class="white-card">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <%= simple_form_for @post do |f| %>
      <%= f.input :comment %>
      <div class="preview-img">
        <img id="blah" src="#" alt="your image" />
      </div>
      <div class="post-upload">
        <div class="photo-submit-btn">
          <%= f.input :photo, as: :file, input_html: {accept: ('.png, .jpg, .jpeg'), id: 'imgInp'}%>
          <a class="btn"><i class="fas fa-camera"></i></a>
        </div>
        <%= f.submit class: 'main-button', disabled: true, :onkeyup => "postSuccess()", id: 'post-button' %>
      </div>
      <script type="text/javascript">
        function postSuccess() {
         const text = document.querySelector("#post_comment");
        
          text.addEventListener('keyup', (event) => {
            console.log(event);
            if(text.value.length > 0) {
                  document.querySelector('#post-button').disabled = false;
              } else {
                  document.querySelector('#post-button').disabled = true;
              }
          });
          }
          postSuccess();
      </script>
    <% end %>
  </div>
  <% @posts.each do |post| %>
    <div class="white-card">
      <div class="user-post-info">
        <%= cl_image_tag post.user.photo.key , class: 'avatar'%>
        <div class="user-name-date">
          <h5><%= post.user.username %></h5>
          <span><%= post.created_at.strftime("%B at %-l:%M %p") %></span>
        </div>
      </div>
      <div class="post-content">
        <%= post.comment %>
      </div>
      <div>
        <% if post.photo.attached? %>
          <%= cl_image_tag post.photo.key, class: 'post-img' %>
        <% end %>
      </div>
      <div>
        <% post.post_replies.each do |replies| %>
          <p><%= replies.user.username %></p>
          <p><%= replies.comment %></p>
        <% end %>
        <%= simple_form_for [ post, @post_reply ] do |f| %>
          <%= f.input :comment %>
          <%= f.submit   id: "start-button" , disabled: true, :onkeyup => "success()" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  function success() {
   const text = document.querySelector("#post_reply_comment");
  
    text.addEventListener('keyup', (event) => {
      console.log(event);
      if(text.value.length > 0) {
            document.querySelector('#start-button').disabled = false;
        } else {
            document.querySelector('#start-button').disabled = true;
        }
    });
    }
    success();
</script>