<%= simple_form_for [@event,@event_atendees] do |f| %>
  <%= f.hidden_field :event_id, value: @event.id %>
  <% if @count >= 1 %>
    <%= f.input :people, :label => "How many people?", input_html: {min: "0", step: "any"}, collection: (1..@count) %>
    <%= f.submit "Join", class: 'main-button' %>
  <% else %>
    <p>Sorry, but this event is full.</p>
    <%= link_to 'See more events', events_path  %>
  <% end %>
<% end %>