<%= simple_form_for [@event,@event_atendees] do |f| %>
  <% if current_user.event_atendees.exists?(event_id: @event) %>
    <p>Thanks for joining!</p>
  <% else %>
    <%= f.hidden_field :event_id, value: @event.id %>
    <% if @count >= 1 %>
      <%= f.input :people, :label => "How many people?", include_blank: false, input_html: {min: "0", step: "any"}, collection: (1..@count) %>
      <%= f.submit "Join", class: 'main-button' %>
    <% else %>
      <p>Sorry, but this event is full.</p>
      <%= link_to 'See more events', events_path  %>
    <% end %>
  <% end %>
<% end %>