<% @event_ordered.each do |atendee| %>
  <% if atendee.event.date_time >= Time.now %>
    <% if atendee.user == current_user %>
      <div class="join-events-cards">
        <%= link_to event_path(atendee.event) do  %>
          <div class="join-events-card">
            <div class="event-card-img">
              <% if atendee.event.photo.attached? %>
                <%= cl_image_tag atendee.event.photo.key %>
              <% else %>
                <img src="https://image.freepik.com/free-vector/children-playground-concept_74855-7006.jpg" alt="">
              <% end %>
            </div>
            <div class="event-content">
              <span id="event-date"><%= atendee.event.date_time.strftime("%A, %b %d, %H:%M") %> </span>
              <h4><%= atendee.event.title %></h4>
              <p>Host: <%= atendee.event.user.username %></p>
              <% if atendee.people > 1 %>
                <p><%= atendee.people %> people joining</p>
              <% else %>
                <p><%= atendee.people %> joining</p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>