<div class="container">
  <h1>Joining Events</h1>
  <% @event_ordered.each do |atendee| %>
    <% if atendee.user == current_user %>
      <div class="join-events-cards">
        <%= link_to event_path(atendee.event) do  %>
          <div class="join-events-card">
            <div>
              <h5><%= atendee.event.title %></h5>
              <p>Host: <%= atendee.event.user.username %></p>
              <p>People: <%= atendee.people %></p>
            </div>
            <span id="event-date"><%= atendee.event.date_time.strftime("%A, %b %d, %H:%M") %> </span>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>